* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  background: #595D88;
}

/* =======================
===== THE HEADER BAR =====
==========================
*/

header {
  background: #43445d;
  padding: 20px;
  margin-bottom: 50px;
}

header nav {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;

}

header nav li {
  list-style: none;
  color: white;
}

header nav li#menu {
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
  background: #38384d;
  border: 1px solid black;

}

header nav li#menu:active,
header nav li#menu .dropdown-menu li:active  {
  color: whitesmoke;
  box-shadow: inset 0px 0px 2px rgba(0,0,0, .9)
}

header nav li#menu > div {
  position: relative;
}

header nav li#menu > div > ul {
  position: absolute;
  top: 12px;
  right: -12px;
  background: #38384d;
  border: 1px solid black;
  opacity: 0;
}

header nav li#menu > div > ul.dropdown-menu > li{
  font-size: .7rem;
  padding: 10px;
  width: 149px;
  text-align: center;
}

header nav li#menu > div > ul.dropdown-menu > li:hover {
  background: #323242;
}

/* End of nav area */



/* ============== 
== Main Screen ==
=============== */

main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

section.widget.priority,
section.widget.others > section {
  background: white;
  padding: 25px;
  margin: 0 auto;  
}


section.widget.priority,
section.widget.others {
  margin: 0 30px 20px;
  min-width: 400px;
  
}

.new-todo-holder textarea {
  width: 100%;
  padding: 10px;
  line-height: 1.4;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.new-todo-holder textarea:focus {
  outline: none;

}

.new-todo-holder .top-row {
  margin-left: 0;
}

span[contenteditable="true"] {
  /* stops the content of the ID field from being able to go off screen*/
  max-width: 350px;
}

.back {
  font-size: .7rem;
  text-decoration: underline;
  cursor: pointer;
}


section.widget.others > section {
  padding-bottom: 40px;
  margin-bottom: 40px;
  font-size: .75rem;
}


section.widget > div:first-child,
section.widget > section > div:first-child {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}



li.item {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 11px;
  padding: 15px 13px;
  list-style: none;
}

h4 {
  font-weight: normal;
}

.top-row {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}


h4.top-row span {
  font-size:.9rem;
  color: rgb(104, 104, 104)
}

h4 input {
  margin-left: auto;
  margin-right:15px;
}

/* */
.new-todo-holder h4 input {
  margin-left: 0;
  margin-right: 0;
  display: block;
  padding: 4px;
}

div.bottom-row {
  display: flex;
  justify-content: space-between;
}

div.bottom-row .col-1 {
  width: 80%;
}

p.text {
  color: rgb(84, 84, 84);
  max-width: 600px;
}


div.plus-sign > span {
  font-size: 1.5rem;
  color: #595D88;
  display: block;
  float: right;
  cursor: pointer;
}

div.plus-sign > span:hover {
  color: #24242a;
}

#priority-new-todo-holder .top-row  span {
  border: 1px solid rgb(216, 216, 216);
  padding: 2px 10px;
  color: rgb(184, 184, 184);
  line-height: 1.8;
}



/* buttons */
.btn1 {
  padding: 5px 10px;
  background: rgb(83, 202, 83);
  color: white;
  border: none;
}

.btn2 {
  padding: 5px 10px;
  background:rgb(231, 143, 143);;
  color: white;
  border: none;
}

section.widget.others > li {
  font-size: .6rem 
}

.btn1:hover,
.btn2:hover {
  cursor: pointer;
}

.btn1:active,
.btn2:active {
  box-shadow: 0px 0px 6px inset rgba(0,0,0, .65)
}

.item.dragging :where(.bottom-row, h4) {
  opacity: 0;
}

/* MODAL */

.modal-overlay {
  background: rgba(0,0,0, .7);
  position:absolute;
  z-index: 1;
  width: 100vw;
  height:100%;
  top: 0;
}

.modal {
  background: white;
  border-radius: 6px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index:2;
  padding: 30px;
}

.modal .inputs {
  margin-bottom: 11px;
  padding: 15px 0px;
}

.modal input {
  height: 50px;
  padding: 0px 10px;
  text-indent: 10px;
  font-size: .9rem;
}

.modal textarea {
  width: 80%;
  color: rgb(87, 86, 86);
  padding: 10px;
}

input[type="checkbox"] {
  height: 17px;
  width: 17px;
  position: relative;
  top: 5px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.modal .btn-wrapper button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background: rgb(58, 182, 58);
}

li.completed {
  opacity: .35;
  text-decoration: line-through
}

li *[contenteditable = "true"] {
  outline: none;
}


/* Delete Setion modal */
#deleteSectionCheckboxes {
  padding: 20px;
  margin: 0 100px;
}

#deleteSectionCheckboxes > li {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}



/* ====================
      Media Queries 
   ==================== */

   @media (min-width: 800px) {
    main {
      flex-direction: row;
    }
    section.widget.priority {
      width: 700px;
    }

    section.widget.others {
      width: 450px;
    }
   }

   @media (min-width: 1100px) {


  }



    /* the buttons on right hand side widgets should be smaller */
    section.widget.others button {
      padding: 3px 6px;
      font-size: .7rem;
    }

    /* The red delete buttons should be small on right hand side widgets*/
    section.widget.others > .btn2 {
      padding: 3px 6px;
    }
   }
